{% extends 'layout.twig' %}
{% block content %}

    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-left text-left">
        <div class="col-lg-10 align-self-end">
          
          <h1 class="text-uppercase text-black font-weight-bold">détail de l'article</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-gray-75 font-weight-light mb-5">cette page contiendra le détail d'un article !</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">retour à la liste d'article</a>
        </div>
      </div>
    </div>

{% endblock %}
