{% extends 'layout.twig' %}
{% block content %}

    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-black font-weight-bold">Liste des articles</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-gray-75 font-weight-light mb-5">cette page contiendra la listes des articles sous forme de grid avec un systèmes de pagination et des lien pour afficher le contenu de chacun en cliquant sur!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">plus de détail</a>
        </div>
      </div>
    </div>

{% endblock %}
