{% include "header.php" %}
<div class="container">
    <div class=" row w-100 justify-content-center text-center align-items-center">
        <div class="jumbotron">
            <h1 class="display-4">ERREURE, 404!</h1>
            <p class="lead">la page que vous souhaitiez consulter n'existe pas.</p>
            <hr class="my-4">
            <p>pour retouner à la page d'accueille cliquez ici.</p>
            <a class="btn btn-primary btn-lg" href="index.php?p=home" role="button">page d'accueil</a>
        </div>  
    </div>
</div>
    