{% include "header.php" %} 
  {% block navbar %}
  {% if session.user_id is empty %}
  {% include "navGlobal.twig" %}
  {% elseif session %}
  {% include "navAcount.php" %}
  {% endif %}
  
  {% endblock %}
  
  {% block Breadcrumb %} {% endblock %}
  
  
  {% block content %}
  <div class="container">
    {% block presentation %} {% endblock %}
    
    {% block contact %}{% endblock %}
    
    {% endblock %}
    
    {% block pagination %} {% endblock %}
    
    
    
    {% block footer %}
    {% include "footer.php" %}
    {% endblock %}
    
  </div>
  
  
  
</body>

</html>
