
{% extends 'layout.twig' %}

{% block content %}
  
   
  <div class="row h-100 align-items-center text-center d-flex justify-content-around">
      
    
    <form class="form-signin form-controller" action="index.php?p=connexion" method="post">
          
      {% if message %}
        <p class="alert alert-{{ type }}">{{ message }}</p>
      {% endif %}
      {% if type == "danger" or type =="info" %}
      <div class="form-group">
        <label class="d-block text-left" for="email">votre adresse mail</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="votre email">
        <small id="emailHelp" class="form-text text-muted">tappez une adresse mail comme Julydump@domain.com</small>
      </div>
      <div class="form-group">
        <label class="d-block text-left" for="password">Mot de passe</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">le mot de passe peut contenir des chifres et des lettres</small>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> se souvenir de moi
        </label>
        <a href="index.php?p=register">s'inscrire</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">connecter</button>
      
    </form>
    {% endif %}
    
  </div>
  
{% endblock %}